<form action="" class="space-y-3">
    {{#each fields}}
        <div class="auth-form-field">
            <input
                id="{{this.name}}"
                type="{{#if this.type}}{{this.type}}{{else}}text{{/if}}"
                name="{{this.name}}"
                placeholder="{{this.label}}"
            />
            <label for="{{this.name}}">{{this.label}}</label>
        </div>
    {{/each}}
</form>